.blue-text{
    color: #061f57 ;

}

.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}

.root h1{
    text-align: center;
    margin: 20px 0 10px 0;
}

.root p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.bold{
    font-weight: bold;
    font-size: 3rem;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}